name: Builds

on: [push, pull_request]

env:
  FORCE_COLOR: 1

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
    - name: Install dependencies
      run: pip3 install setuptools asn1crypto atheris pytype ruff
    - name: Run ruff checks
      run: ruff check src
    - name: Run pytype checks
      run: pytype src
# mypy:
#   runs-on: ubuntu-latest
#   steps:
#   - uses: actions/checkout@v4
#   - name: Set up Python ${{ matrix.python-version }}
#     uses: actions/setup-python@v5
#     with:
#       python-version: '3.11'
#       cache: 'pip'
#   - name: Install dependencies
#     run: pip3 install mypy
#   - name: Run mypy checks
#     run: mypy src/
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    needs: [ruff]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: pip3 install PyInstaller
    - name: Build Atheris & run tests
      run: PYTHON=python ./run_tests.sh
